@import "toolkit";

.body {
  font-size: inherit;
}

.hero {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  background: linear-gradient(to bottom right, #F2A4B7, #9999ff);
  color: white;
  font-family: sans-serif;
}

.photo {
  border: 4px solid #fff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.heading {
  font-size: 30px;
  color: #499f8a;
}

.headingRight {
  font-size: 30px;
  color: #499f8a;
  float: right;
}

.pFontSize {
  font-size: 18px;
}

.pFontSizeRightTop {
  font-size: 18px;
  text-align: right;
  padding-top: 90px;
}

.pFontSizeRight {
  font-size: 18px;
  text-align: right;
}

@media (min-width: 320px) {
  .padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1025px) {
  .padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}
